<div class="header">
    <div class="boxImage">
        <!-- <a href="online-store/list"> -->
        <a routerLink="online-store/list">
            <img src="../assets/logo.png" alt="" class="logo">
        </a>
    </div>

    <div class="boxButtons">
        <button mat-raised-button (click)="toList();">List</button>
        <button mat-raised-button (click)="toCreate();">Create</button>

    </div>
</div>

<div class="boxTitle">
    <h1>
        Online Store
    </h1>
</div>

<div class="boxBanner">
    <img src="../assets/banner.png" alt="" class="banner">
</div>

<mat-drawer-container>
    <router-outlet></router-outlet>
</mat-drawer-container>

<div class="footer" autosize="">
    <p>&copy;All rights reserved</p>
</div>